
	/* mein erstes Stylesheet*/
	
	
	h1 {font-family: Arial;
		color: yellow; 
		background-color: blue;
	}
	body { font-family: sansserif;
	}

	.wichtig { 
				color: #cc6666;		
				font-weight: bold;
				background-color: lime; width: 40px
			
	}
	
	#abb1 {
		background-color: lime;
		}