
        body {
            
				
				background-image: url(../images/bike.jpg);
				background-repeat:no-repeat;
				background-size: cover;
				background-attachment:fixed;
				font-family:Helvetica, sans-serif; 
    
        }

        
		
  		#header {
			font: 2em 'Lobster Two';
			background-color:white;
			width: 100%;
			line-height: 1.7em;
			 
			vertical-align: middle;
			text-align:center;
			
			
		}
		
  

        #map {
            height: 600px;
            width: 1024px;
			margin: 0 auto 0 auto;
        }
		

		
		#etappentitel {
			color: black;
			font: 2.5em 'Lobster Two';
			border: 1px solid white;
			height: 80px;
			padding-top: 50px;
			padding-bottom: 50px;
			text-align: center;
		}
					
		#etappen {
			float: left;
			margin-left: 9%;

		}
   


			
			
		
		#kurzinfo {
			color: black;
			font: 1em; 
			background: rgba(162,181,205, 0.7);
			text-align: justify; 
			padding: 15px;
			margin: 20px;
			
			
		}
		
		
		

		
		.details {
			color: black;
			font: 1em; 
			background: rgba(162,181,205, 0.7);
			float: center;
			text-align: center; 
			margin: 0 40% 0 40%;
			
		}
	
		
		table{
			text-align: center;
			float: right;
			width: 100%;
		}
		
		
		
		.knopf {
			border: 1px solid black;
			border-radius:12%;
			background-color: lightgrey;
			display: inline-block;
			padding:0.5em;
			color: black;
		}
		
		h3 { color: white;
			font: 1.5em; 
		}
		
		h4 { color: white;
			font: 1.5em; 
			}
			

		a {
		text-decoration: none; 
		color: black; 
		font: 1em, Helvetica, sans-serif; 
		text-align: center; 
		background-color: rgba(255,255,255, 0.7);
		}
		  
